@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    transform: translateY(-5rem); }
  100% {
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.home {
  position: relative;
  width: 100%;
  height: 100vh; }
  .home-aboutUs {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    margin-right: 18%;
    margin-top: 10rem;
    width: 30rem;
    height: 40rem; }
    .home-aboutUs-consultation {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 5rem;
      background-color: #008035;
      color: white;
      width: fit-content;
      block-size: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 5rem;
      height: 5rem;
      font-size: 2.7rem; }
  .home-carpentry {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: white;
    margin-top: 15rem;
    margin-left: 20%;
    width: 25rem;
    height: 5rem;
    font-size: 2.7rem;
    font-family: "Palatino, URW Palladio L, serif";
    transform: 0;
    overflow: hidden; }
  .home-roofing {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: white;
    margin-top: 25rem;
    margin-left: 20%;
    width: 25rem;
    height: 5rem;
    font-size: 2.7rem;
    font-family: "Palatino, URW Palladio L, serif";
    overflow: hidden; }
  .home-siding {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: white;
    margin-top: 35rem;
    margin-left: 20%;
    width: 25rem;
    height: 5rem;
    font-size: 2.7rem;
    font-family: "Palatino, URW Palladio L, serif";
    overflow: hidden; }

.tie-left {
  width: 10rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: -2.8rem;
  transform: rotate(45deg);
  font-size: 2rem;
  background-color: #008035; }

.tie-right {
  width: 10rem;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: -2.8rem;
  transform: rotate(45deg);
  font-size: 2rem;
  background-color: #008035; }

.tie-bottom-right {
  width: 10rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: -2.8rem;
  transform: rotate(45deg);
  font-size: 2rem;
  background-color: #008035; }

.tie-bottom-left {
  width: 10rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: -2.8rem;
  transform: rotate(45deg);
  font-size: 2rem;
  background-color: #008035; }
