.marginleft {
  margin-left: 2rem;
}

.inlineBlock {
  display: inline-block;
}

.block {
  display: block;
}

.verticalAlign {
  vertical-align: top;
}

.carouselDisplayNone {
  display: none;
}

.carouselDisplayBlock {
  display: block;
}

.italicFont {
  font-style: italic;
}

.textAlignCenter {
  text-align: center;
}

.getFont {
  font-family: "Palatino, URW Palladio L, serif";
}

@media (max-width: 512px) {
  .marginleft {
    margin-left: 0rem;
  }
}
